/* first page styles */
.first-page__header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.first-page__logo {
  width: 350px;
  height: 116px;
}

.first-page__caption {
  margin: 0 0 0 28px;
  width: 228px;
  color: #ccc;
  text-align: left;
  font-family: Ubuntu;
  font-size: 2.3rem;
}

.first-page__footer {
  position: absolute;
  bottom: 2.7rem;
  left: 50%;
}

.first-page__footer-image {
  width: 130px;
}

/* end first page styles*/
/* regular page styles */

.regular-page__background {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.regular-page__logo {
  width: 200px;
}

h1 {
  font-size: 80px !important;
  line-height: 60px !important;
}

h3 {
  font-size: 70px !important;
  margin: 0 0 !important;
}

ol, ul {
  font-size: 55px;
  line-height: 85px;
  margin: 0.5em 0 !important;
}

/* end regular page styles */
